/* 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
    background-color: #020617;
    color: #e5e7eb;
    line-height: 1.6;
}

/* NAVBAR */
/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    position: fixed;
    width: 100%;
    top: 0;
    background: rgba(2, 6, 23, 0.9);
    backdrop-filter: blur(10px);
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #cbd5f5;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #38bdf8;
}

.resume-btn {
    padding: 6px 14px;
    border: 1px solid #38bdf8;
    border-radius: 6px;
}  */

/* HERO */
/* .hero {
    height: 100vh;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero h1 {
    font-size: 52px;
    max-width: 700px;
}

.hero span {
    color: #38bdf8;
}

.hero p {
    margin: 20px 0;
    color: #94a3b8;
}

.primary-btn {
    width: fit-content;
    padding: 12px 24px;
    background: #38bdf8;
    color: #020617;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
} */

/* SECTIONS */
/* .section {
    padding: 120px 80px;
}

.section h2 {
    font-size: 32px;
    margin-bottom: 20px;
} */

/* PROJECTS */
/* .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

.project-card {
    background: #020617;
    border: 1px solid #1e293b;
    padding: 25px;
    border-radius: 10px;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
    border-color: #38bdf8;
}

.project-card h3 {
    margin-bottom: 10px;
}

.project-card p {
    color: #94a3b8;
    margin-bottom: 15px;
}

.project-card a {
    color: #38bdf8;
    text-decoration: none;
} */

/* FOOTER */
/* footer {
    text-align: center;
    padding: 30px;
    color: #64748b;
}

 */


.galaxy-container {
  width: 100%;
  height: 100%;
  position: relative;
}
