/* IMPORT FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

/* HERO SECTION */

.hero{
    min-height:90vh;

    display:flex;
    align-items:center;     /* vertical center */
    justify-content:flex-start;  /* keep it on left */

    padding-left:4%;
}

.hero-content{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    font-size: small;
    max-width:850px;
    align-items: start;
    padding: 40px;
    border: 2px;
        background:rgba(255,255,255,0.06);
  backdrop-filter:blur(12px);
  transition:.4s;
        margin-top: auto;
        border-radius: 14px;

}
/* SMALL TOP TEXT */

.hero-tag{
    color:#38bdf8;
    font-weight:600;
    letter-spacing:1px;
    margin-bottom:15px;
}

/* HEADING */

.hero h2{
    font-size:4rem;   /* perfect desktop size */
    line-height:1.25;
    margin-bottom:18px;
    font-weight:700;
}


/* Highlighted words */

.highlight{
    color:#38bdf8;
}

/* DESCRIPTION */

.hero-desc{
    color:#cbd5e1;
    margin-bottom:35px;
}

/* BUTTON GROUP */

.hero-buttons{
    display:flex;
    gap:20px;
    justify-content:center;
    flex-wrap:wrap;
}

/* PRIMARY BUTTON */

.btn-primary{
    background:#38bdf8;
    color:#020617;
    border:none;
    padding:14px 28px;
    border-radius:8px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
}

.btn-primary:hover{
    transform:translateY(-3px);
    background:#0ea5e9;
}

/* SECONDARY BUTTON */

.btn-secondary{
    border:2px solid #38bdf8;
    padding:12px 26px;
    border-radius:8px;
    color:#38bdf8;
    text-decoration:none;
    font-weight:600;
    transition:0.3s;
}

.btn-secondary:hover{
    background:#38bdf8;
    color:#020617;
    transform:translateY(-3px);
}

/* MOBILE */

@media(max-width:768px){

.hero h1{
    font-size:2.3rem;
}

.hero-desc{
    font-size:1rem;
}

}
