/* RESET */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Inter', sans-serif;
}

body{
  overflow:hidden;
  color:white;
}

/* NAVBAR */

.navbar{
  position:fixed;
  top:0;
  width:100%;
  padding:25px 60px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  z-index:10;
}

.logo{
  font-size:30px;
  font-weight:800;
  letter-spacing:1px;
}

.nav-links{
  display:flex;
  gap:18px;
}

.nav-links button{
  padding:10px 22px;
  border-radius:10px;
  border:1px solid rgba(255,255,255,.2);
  background:transparent;
  color:white;
  font-size:16px;
  cursor:pointer;
  transition:.3s;
}

.nav-links button:hover{
  background:#4fd1c5;
  color:black;
  border:none;
}

/* MAIN SECTIONS */

.section{
  height:100vh;
  width:1200px;
  max-width:90%;
  margin:auto;

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

/* HERO */

.hero h1{
  font-size:90px;
  font-weight:900;
  letter-spacing:2px;
}

.hero p{
  font-size:22px;
  margin-top:12px;
  opacity:.85;
}

.hero button{
  margin-top:30px;
  padding:14px 36px;
  border-radius:12px;
  border:none;
  background:#4fd1c5;
  color:black;
  font-size:18px;
  cursor:pointer;
  transition:.3s;
}

.hero button:hover{
  transform:scale(1.08);
}

/* SECTION TITLE */

.section-title{
  font-size:52px;
  margin-bottom:50px;
  font-weight:800;
}

/* PROJECTS */
/* .project_section {
  background:rgba(255,255,255,0.06);
  backdrop-filter:blur(12px);
  transition:.4s;
} */
 .project_section{
  background:rgba(255,255,255,0.06);
  backdrop-filter:blur(12px);
  transition:.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  margin-top: 150px;
  margin-left: 40px; margin-right: 40px;
  border-radius: 16px;
 }
.project-grid{
  width:100%;
  display:flex;
  gap:30px;
}

.project-card{
  flex:1;
  padding:40px;
  border-radius:20px;
  background:rgba(255,255,255,0.06);
  backdrop-filter:blur(12px);
  transition:.4s;
}

.project-card:hover{
  transform:translateY(-12px);
  background:rgba(255,255,255,0.14);
}

.project-card h3{
  font-size:28px;
  margin-bottom:10px;
}

.project-card p{
  opacity:.85;
  margin-bottom:15px;
  font-size:17px;
}

.project-card span{
  font-size:14px;
  opacity:.6;
}

/* RESUME */

.resume-card{
  padding:50px;
  border-radius:20px;
  background:rgba(255,255,255,0.06);
  backdrop-filter:blur(12px);
}

.resume-card p{
  font-size:20px;
  margin-bottom:20px;
}

.resume-card a{
  padding:14px 32px;
  border-radius:12px;
  background:#4fd1c5;
  color:black;
  text-decoration:none;
  font-weight:600;
  transition:.3s;
}

.resume-card a:hover{
  transform:scale(1.08);
}

/* CONTACT */

.contact-text{
  font-size:22px;
  margin-bottom:30px;
}

.icon-row{
  display:flex;
  gap:45px;
}

.icon-row a{
  font-size:46px;
  color:white;
  transition:.3s;
}

.icon-row a:hover{
  color:#4fd1c5;
  transform:scale(1.25);
}